* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width: 320px) {
    /* PRELOAD */
    .page-wrapper,
    .preloader {
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #f5f5f5;
    }

    .preloader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
    }

    .preloader-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -45px;
    }

    .preloader-inner img {
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
        justify-content: center;
    }

    .preloader-inner p {
        text-align: center;
    }

    /* OVERLAY */
    .overlay {
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: rgba(155, 0, 0, 0.6);
    }

    
    /* HEADER */
    header > .container-fluid {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #9b0000;
        backdrop-filter: blur(5px);
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
        z-index: 100;
    }

    .navBar {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }

    .navBar-mob {
        width: 220px;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        background-color: #9b0000;
        z-index: 1100;
        padding: 100px 30px 30px;
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .navBar-mob a {
        width: 100%;
        height: 60px;
        display: block;
        line-height: 60px;
        color: #f5f5f5;
        font-family: "Raleway", sans-serif;
        text-decoration: none !important;
    }

    .navBar-mob a:hover {
        color: #f5f5f5;
        transform: scale(0.95);
    }

    .btn-menu-mob {
        background: transparent;
        display: block;
        color: #fff;
        border: none;
        position: fixed;
        right: 50px;
        top: 25px;
        z-index: 1200;
        cursor: pointer;
    }

    .btn-menu-mob:focus {
        outline: none;
    }

    ion-icon {
        height: 30px;
        width: 30px;
        color: #f5f5f5;
        vertical-align: middle;
    }

    .menu-is-open {
        right: 0;
    }

    .menu-is-close {
        right: -240px;
    }

    .logo {
        height: 9vh;
    }

    .box-nav-btn {
        display: flex;
        align-items: center;
    }

    .nav-container {
        height: 40px;
        background-color: rgba(245, 245, 245, 0.3);
        backdrop-filter: blur(5px);
        border-radius: 7px;
        display: none;
        align-items: center;
    }

    .nav-container a {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        text-decoration: none;
        color: #f5f5f5;
        text-align: center;
        padding: 0 15px 0 15px;
        text-decoration: none !important;
    }

    .nav-container a:hover {
        display: flex;
        align-items: center;
        border-radius: 7px;
        height: 40px;
        background-color: #f5f5f5;
        color: #9b0000;
        transition: 1s;
    }

    .btn-container {
        display: none;
    }

    .btn-container-mob {
        display: inline-block;
    }

    .btn-cadastro-mob,
    .btn-login-mob {
        margin-top: 20px;
        border: none;
        border-radius: 7px;
        height: 40px;
        width: 120px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #9b0000;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border-radius: 7px;
        cursor: pointer;
    }

    .btn-cadastro-mob:focus,
    .btn-login-mob:focus {
        outline: none;
    }

    .btn-login-mob {
        background: none;
        border: 1px solid #f5f5f5;
        color:#f5f5f5
    }

    .btn-login-mob:hover {
        background-color: rgba(245, 245, 245, 0.3);
        transition: 0.3s;
    }

    .btn-cadastro-mob:active,
    .btn-login-mob:active {
        transform: scale(0.95);
        transition: 0.3s;
    }

    .btn-cadastro {
        width: 110px;
        height: 40px;
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        background-color: #f5f5f5;
        color: #9b0000;
        border: none;
        border-radius: 7px;
        margin-right: 15px;
        cursor: pointer;
    }

    .btn-cadastro:hover {
        background-color: #dadada;
        transition: 0.3s;
    }

    .btn-cadastro:active {
        transform: scale(0.95);
        transition: 0.3s;
    }

    .btn-cadastro:focus {
        outline: none;
    }

    .btn-login {
        width: 100px;
        height: 40px;
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        color: #f5f5f5;
        background: none;
        border: 1px solid #f5f5f5;
        border-radius: 7px;
        cursor: pointer;
    }

    .btn-login:hover {
        background-color: rgba(245, 245, 245, 0.3);
        transition: 0.3s;
    }

    .btn-login:active {
        transform: scale(0.95);
        transition: 0.3s;
    }

    .btn-login:focus {
        outline: none;
    }

    /* BANNER */
    .banner {
        height: 100vh;
        width: 100%;
        background-image: url(../img/bg-home.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-text-banner {
        width: 600px;
    }

    .title-banner {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: clamp(2em, 1em + 3vw, 3em);
        margin-bottom: 30px;
    }

    .text-banner {
        font-family: "Rubik", sans-serif;
        font-weight: 300;
        font-size: clamp(0.5em, 1em + 3vw, 1.1em);
        margin-bottom: 30px;
    }

    .btn-banner {
        width: 150px;
        height: 40px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 15px;
        background-color: #f5f5f5;
        border: none;
        border-radius: 7px;
        margin-top: 40px;
        cursor: pointer;
    }

    .btn-banner span,
    .btn-banner a {
        padding: 10px 40px 10px 40px;
        color: #9b0000;
        text-decoration: none;
    }

    .btn-banner:hover {
        background-color: #dadada;
        transition: 0.3s;
    }

    .btn-banner:active {
        transform: scale(0.95);
    }

    .btn-banner:focus {
        outline: none;
    }

    .scroll-Down {
        display: flex;
        margin-top: 100px;
        align-items: center;
        animation: scrollAnimation 3s infinite ease-in-out;
    }

    .scroll-Down > p {
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        padding-left: 5px;
    }

    /* SERVIÇOS */
    #servicos .container-servc {
        margin: 150px 0 150px 0;
        display: flex;
        flex-direction: column;
    }

    .line {
        height: 3px;
        width: 100%;
        background-color: #9b0000;
        margin-bottom: 30px;
    }

    .text-servico {
        text-align: center;
    }

    .text-servico h3 {
        padding-right: 0;
    }

    .text-servico p {
        padding-right: 0;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .cards-servico {
        display: flex;
        margin-top: 0px;
        justify-content: center;
        flex-direction: column;
    }

    .box-cs1,
    .box-cs2 {
        display: flex;
        justify-content: center;
    }

    .card, .first-card {
        height: 200px;
        width: 250px;
        background-color: #e9eaec;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        margin: 5px;
    }

    .first-card {
        background-color: #9b0000;
    }


    .card h5, .first-card h5{
        font-family: "Raleway", sans-serif;
        font-size: 12px;
        font-weight: 600;
        margin: 5px 0 15px 0;
    }

    .card p, .first-card p {
        font-family: "Raleway", sans-serif;
        font-size: 11px;
    }

    .icon-card {
        height: 40px;
        width: 40px;
    }

    /* VIDEO */
    .banner-video {
        background-image: url(../img/bg-video.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
    }

    .box-video-Info {
        display: flex;
        flex-direction: column-reverse;
    }

    .box-video {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-right: 0;
    }

    .line-v {
        display: none;
    }

    .text-video {
        width: 100%;
        position: relative;
        margin-left: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .box-video-Info > .text-video p {
        font-weight: 400;
    }

    #video {
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }

    .lineIn1,
    .lineIn2 {
        height: 3px;
        width: 100%;
        margin-bottom: 20px;
    }

    .lineIn2 {
        margin: 20px 0 0;
    }

    /* INFORMAÇÕES */

    .box-textS {
        display: flex;
        margin-bottom: 150px;
    }

    .espace-info {
        margin-bottom: 60px;
    }

    .box-svg-info {
        display: none;
    }

    /* GALERIA */

    .galeria {
        margin-bottom: 150px;
        display: none;
    }

    .galeria-mob {
        display: block;
        margin-bottom: 150px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .d-block {
        width: 100%;
        height: 400px;
    }

    .img-galeria {
        height: 200px;
        transition: 0.5s;
    }

    .img-galeria:hover {
        transform: scale(0.9);
    }

    /* LOGOS HEMOCENTROS */

    .line-logos {
        height: 3px;
        width: 100%;
        margin-bottom: 70px;
    }

    .box-logo {
        display: flex;
        justify-content: space-between;
    }

    .box-logo img {
        width: 25vw;
        text-align: center;
    }

    .box-logo-hemocentro {
        margin-bottom: 70px;
    }

    /* CONTATO */

    .bg-contato {
        background-image: url(../img/bg-contact.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .title-form {
        font-family: "Raleway", sans-serif;
        font-size: clamp(1em, 1em + 3vw, 1.5em);
        font-weight: 600;
        margin-bottom: 30px;
    }

    .bg-contato .container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .box-info-contato {
        display: table;
    }

    .box-form {
        display: flex;
        margin-bottom: 10px;
    }

    .box-form > input,
    .box-form > textarea,
    .box-feedback > input {
        height: 30px;
        width: 100%;
        background: rgba(30, 30, 30, 0.5);
        border-radius: 3px;
        border: none;
        font-family: "rubik", sans-serif;
        font-family: 12px;
        color: #e9eaec;
        padding: 10px;
        outline: none;
    }

    .box-form > textarea,
    .box-form > textarea::placeholder {
        height: 100px;
        width: 100%;
        color: #e9eaec;
        overflow: hidden;
    }

    #nome {
        margin-right: 5px;
    }

    .box-form > input::placeholder {
        color: #e9eaec;
    }

    .btn-contato {
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: 400;
        width: 100px;
        height: 30px;
        border-radius: 3px;
        border: none;
        cursor: pointer;
    }

    .btn-contato:focus {
        outline: none;
    }

    .btn-contato:hover {
        background-color: #8a0000;
        transition: 0.3s;
    }

    .btn-contato:active {
        transform: scale(0.95);
        transition: 0.3s;
    }

    .box-detalhe {
        margin-top: 50px;
    }

    .box-detalhe p:first-child {
        font-family: "Rubik", sans-serif;
        margin-bottom: 20px;
    }

    .box-det-contato {
        margin: 10px 0 30px;
    }

    .email-det {
        margin-bottom: 5px;
    }

    .email-det,
    .telefone-det {
        display: flex;
        align-items: center;
    }

    .email-det p,
    .telefone-det p {
        font-family: "Rubik", sans-serif;
        font-weight: 600;
        font-size: 14px;
        margin-left: 5px;
    }

    .box-feedback {
        margin-top: 30px;
        display: flex;
    }

    .box-feedback > input {
        border-radius: 3px 0 0 3px;
    }

    .box-feedback > input::placeholder {
        color: #e9eaec;
    }

    .btn-feed {
        width: 70px;
        height: 30px;
        border: none;
        border-radius: 0 3px 3px 0;
        font-family: "Rubik", sans-serif;
        cursor: pointer;
    }

    .btn-feed:focus {
        outline: none;
    }

    .btn-feed:hover {
        background-color: #8a0000;
        transition: 0.3s;
    }

    /* FOOTER */
    .bg-footer {
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .box-footer {
        display: flex;
        justify-content: space-between;
    }

    .footer-sobre,
    .footer-servicos {
        width: 200px;
    }

    .footer-sobre {
        margin-right: 60px;
    }

    .title-footer,
    .text-footer {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: clamp(1em, 1em + 3vw, 1.5em);
    }

    .text-footer {
        font-family: "Rubik", sans-serif;
        margin-top: 20px;
        font-size: clamp(0.5em, 1em + 3vw, 0.8em);
        font-weight: 400;
    }

    .footer-servicos h6 {
        margin-bottom: 20px;
    }

    .footer-servicos a {
        display: table;
        font-family: "Rubik", sans-serif;
        font-size: clamp(0.5em, 1em + 3vw, 0.8em);
        text-decoration: none;
        color: #f5f5f5;
        margin-top: 5px;
    }

    .footer-servicos a:hover {
        transform: scale(0.95);
        text-decoration: none;
        color: #f5f5f5;
    }

    .redes-sociais {
        margin-bottom: 20px;
    }

    .seguir {
        margin-left: auto;
        display: none;
    }

    .seguir h6 {
        margin-bottom: 25px;
    }

    .seguir img {
        margin-left: 8px;
    }

    .seguir img:first-child {
        margin-left: 0;
    }

    .seguir img:hover {
        transform: scale(1.1);
    }

    .box-serguir-mob {
        width: 100%;
        height: 40px;
        background-color: #9b0000;
        display: flex;
        justify-content: center;
    }

    .seguir-mob {
        display: flex;
        align-items: center;
    }
}
@media screen and (min-width: 576px) {
    .seguir {
        margin-left: auto;
        display: block;
    }

    /* SERVICOS */
    .card h5, .first-card h5 {
        font-size: 16px;
    }

    .card p, .first-card p {
        font-size: 14px;
    }

    /* FOOTER */
    .box-serguir-mob {
        display: none;
    }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
    /* NAVBAR */
    .navBar-mob,
    ion-icon {
        display: none;
    }

    .nav-container {
        height: 40px;
        background-color: rgba(245, 245, 245, 0.3);
        backdrop-filter: blur(5px);
        border-radius: 7px;
        display: flex;
        align-items: center;
    }

    .btn-container {
        display: block;
    }

    /* SERVIÇOS */
    #servicos .container-servc {
        margin: 150px 0 150px 0;
        display: flex;
        flex-direction: row;
    }

    .line {
        margin-top: 5px;
        width: 60%;
    }

    .text-servico {
        text-align: start;
    }

    .text-servico h3 {
        padding-right: 5em;
    }

    .text-servico p {
        padding-right: 10em;
        font-weight: 400;
    }

    .box-cs1,
    .box-cs2 {
        justify-content: center;
    }

    /* VIDEO */
    .banner-video {
        height: 500px;
    }

    .box-video-Info {
        flex-direction: row;
    }

    .box-video {
        width: 60%;
        justify-content: start;
    }

    .line-v {
        height: 3px;
        width: 100%;
        background-color: #9b0000;
        position: relative;
        margin: 0 0 30px auto;
        display: block;
    }

    .text-video {
        width: 300px;
        margin-left: auto;
        margin-right: 0;
        text-align: left;
        justify-content: right;
    }

    /* INFORMÇÕES */
    .box-svg-info {
        height: 400px;
        width: 100%;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 50px;
    }

    /* GALERIA */
    .galeria {
        display: block;
    }

    .galeria-mob {
        display: none;
    }

    /* LOGOS HEMOCENTROS */
    .line-logos {
        height: 3px;
        width: 100%;
        margin-bottom: 70px;
    }

    .box-logo-hemocentro {
        margin-bottom: 70px;
    }

    .box-logo img {
        width: 20vw;
        text-align: center;
    }

    /* CONTATO */
    .bg-contato {
        height: 60vh;
        width: 100%;
    }

    .bg-contato .container {
        flex-direction: row;
    }

    .box-feedback {
        margin-top: 119px;
    }

    .box-detalhe {
        margin-top: 0;
    }

    /* PERFIL */

    .perfil-container-mob {
        display: none;
    }

    .perfil-container button {
        display: flex;
    }
}

/* CLASSES UTILITARIAS */

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: clamp(1.75em, 1em + 3vw, 1.9em);
}

.text {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: clamp(1em, 1em + 3vw, 1.1em);
    margin-top: 20px;
}

.text-color-red {
    color: #9b0000;
}

.text-color-lightGray {
    color: #e9eaec;
}

.text-color-light {
    color: #f5f5f5;
}

.text-color-dark {
    color: #1e1e1e;
}

.bg-color-red {
    background-color: #9b0000;
}

.bg-color-lightGray {
    background-color: #e9eaec;
}

.bg-color-light {
    background-color: #f5f5f5;
}

/* === CLASSES DE COMPORTAMENTO === */
.open {
    display: block;
}

/* PRELOAD */
.fade-out {
    animation: fadeOut 1s forwards ease-out;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    height: 200px;
    width: 12px;
    background-color: #9b0000;
}
